:root {
    --white-color: white;
    --accent-color: #2196F3;
    --grey-light-color: #757575;
    --bg-color: #2F303A;
    --black-color: #212121;
    --button-color: #F5F4FA;
    --border-color: #AFB1B8;
}