.work {
    padding-top: 94px;
    padding-bottom: 94px;
}
.advantage {
    padding-top: 94px;
    padding-bottom: 94px;
}
.hidden {
    display: none;
}
.main-nav .advantage__main {
    width: calc((100% - 90px) / 4);
}
.main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.advantage__main:not(:last-child) {
    margin-right: 30px;
}
.advantage__visually-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: var(--button-color);
    margin-bottom: 30px;
    height: 120px;
}
.advantage__icon {
    width: 70px;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: var(--button-color);
}
.advantage__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--black-color);
    margin-bottom: 10px;
}

.advantage__iteam {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: var(--grey-light-color);
}
.advantage__main {
    @media (max-width: 767px) {
        margin-bottom: 30px;
        flex-basis: 100%;
    }
    @media (min-width: 768px) {
        flex-basis: calc((100% - 30px)/2);
        margin-right: 30px;
        margin-bottom: 30px;
        height: 251px;
    }
    &:nth-last-child(-n + 2) {
        @media (min-width: 768px) {
            margin-bottom: 0;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        &:nth-child(2n) {
            margin-right: 0;
        }
    }
    @media (min-width: 1200px) {
        margin-right: 30px;
        flex-basis: calc((100% - 30px * 3)/4);
        margin-bottom: 0;
    }
    &:last-child {
        @media (min-width: 1200px) {
            margin-right: 0;
        }
    }
}
.advantage__wrap {
    @media (min-width: 767px) {
        display: flex;
        flex-wrap: wrap;
    }
}
.advantage-mob {
    @media (max-width: 767px) {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        margin: auto;
        margin-bottom: 60px;
    }
}
.advantage__wrap {
    @media (max-width: 767px) {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 767px) {
    .advantage__main:not(:last-child) {
        margin-right: 0;
    }
}