.logo__page {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    margin-right: 94px;
    font-weight: bold;
    display: block;

    .footer & {
        margin-bottom: 20px;
    }
}
.footer__adress .logo__page {
    @media screen and (max-width: 1199px) {
        width: 100%;
        justify-content: center;
    }
}
.logo {
    margin-bottom: 20px;
    color: var(--white-color);
}
.logo-heder {
    color: var(--black-color);
}
