.mobile-menu-btn {
    position: relative;
    z-index: 105;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    bottom: 10px;
    left: 200px;
    
}
.mobile-menu-icon {
    width: 40px;
    height: 40px;
}
.icon-close {
    display: none;
}

.is-open {
    .icon-close {
        display: block;
    }
    .icon-menu {
        display: none;
    }
}
.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    z-index: 100;
    width: 100%;
    max-width: 340px;
    height: 100vh;
    padding: 118px 40px 60px;
    background: #ffffff;
    box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04), -2px 0px 4px rgba(0, 0, 0, 0.08), -1px 0px 3px rgba(0, 0, 0, 0.16);
    color: var(--main-text-color);
    transition-duration: 250ms;

    &.is-open {
        right: 0;
    }
}
.mobile-menu .menu {
    flex-direction: column;
    font-size: 18px;
}
.mobile-menu .menu__item {
    margin-bottom: 32px;
}
